/* src/components/SkillsTable.css */

.skills-table {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  background-color: #f2e9e400;
  border-radius: 8px;
  margin-right: 10vw;
}

.skills-column {
  flex: 1;
  max-width: 20vw;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #b3b2b2; /* Thin border around each column */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.skills-title {
  font-size: 1.4em;
  font-weight: bold;
  color: #1D3557;
  margin-bottom: 10px;
}

.skills-description {
  font-size: 1.0em;
  margin-bottom: 15px;
}

.dev-tools-title {
  font-size: 1.2em;
  color: #e63946; /* Dev tools label color */
  font-weight: bold;
  margin-bottom: 5px;
}

.dev-tools-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dev-tools-list li {
  font-size: 1.0em;
  margin-bottom: 5px; /* Increased spacing between items */
}

/* Responsive styling */
@media (max-width: 768px) {
  .skills-table {
    flex-direction: column;
    align-items: center;
  }

  .skills-column {
    margin-bottom: 20px;
    max-width: 300px;
  }
}
