PORT=8000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/portfolio"

# Resend Email Configuration
RESEND_API_KEY=re_UR3PyWsw_BP3ci93zXFfNHzbGBgjXR4Kf
CONTACT_RECEIVER_EMAIL=ashishbiradar.1911@gmail.com
EMAIL_FROM=Portfolio Contact <onboarding@resend.dev>
